body {
    background: rgb(216, 124, 188);
}
#pirmas{
    background-color: aliceblue;
    width: 200px;
}
#antras {
    background-color: aqua;
    width: 300px;
}
#trecias{
    background: white;
    width: 50%;
}
#ketvirtas {
    background-color: blue;
    width: 800px;
    height: 200px;
}
#penktas {
    background: white;
    width: 100%;
    max-width: 1000px;
}
#lentele {
    background-color: antiquewhite;
    width: 100%;
    /* width: fit-content; */
}
table, td, th {
    border: 2px solid black;
    border-collapse: collapse;
}
#sestas {
    background-color: gold;
    width: 300px;
    height: 150px;
}
#septintas {
    background-color: azure;
}
#astuntas {
    background: green;
    /* height: 400px; */
    /* vw - wiev width 
    vh - view height*/
    height: 100vh;
}
#astuntas .vaikinis {
    background: rgb(233, 238, 233);
    height: 50%; 
    
}
#kita-lentele {
    background: white;
    width: 100%;
    height: 200px;
    text-align: center;
}
#kita-lentele, td {
    vertical-align: center;
}