/* body {
    background: orange;
} */
p, ul, h3 {
    margin: 0;
}
#eile1 {
    background-color: aqua;
    display: flex;
}
#eile2 {
    background-color: blue;
    display: flex;
}
#eile3 {
    background-color: aqua;
    display: flex;
    
}
#eile4 {
    background-color: blue;
    display: flex;
}
#eile4 .stulpelis {
    flex: 1;
    /* width: calc(100% / 3); */
}
#eile5 {
    background-color: aqua;
    display: flex;
    padding: 20px;
    gap: 20px;
}
#eile5 .stulpelis2 {
    background: white;
    flex: 1;
}
#eile6 {
    background-color: blue;
    display: flex;
    padding: 50px;
    gap: 30px;
}
#eile6 P {
    flex: 1;
    background-color: white;
    padding: 15px;
}
#eile7 {
    background-color: aqua;
    display: flex;
    padding: 50px;
    gap: 30px;
}
#eile7 p {
    background-color: white;
    padding: 15px;
    flex: 1;
}
#eile7 .platesnis {
    flex: 2;
}
#eile8 {
    background-color: blue;
    padding: 30px;
}
#eile8 form {
    width: 60%;
    background: white;
}
#eile8 form .eile {
    display: flex;
}
#eile8 form .eile label {
    width: 100px;
    flex-shrink: 0;
}
#eile8 form .eile input {
    flex-grow: 1;
}