/* Game.css */
#box {
    background-color: antiquewhite;
    width: 70px;
    height: 70px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.falling-letters {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    font-size: 50px;
}
#results {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 50px;
}
#lives img{
    margin-right: 5px;
}
.video-bg {
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 100%;
    /* min-height: 100%; */
}