body {
    background-image: url(./src/assets/gamul.jpg);
}
.lead {
    /* border: 5px solid rgb(0, 58, 0);
    border-radius: 15px; */
    width: 50%;
    margin: auto;
    margin-top: 70px;
}
.lead ol {
    background-color: black;
    color: white;
    width: 45%;
    margin: auto;
    border-radius: 15px;
    text-align: left;
    font-size: 20px;
    padding-left: 50px;
}