body {
    background: rgb(54, 49, 85);
}
div {
    background: white;
    width:  50%;
    margin: 50px auto;
}
#blokas1 {
    padding: 20px;
    border: 5px solid black;
}
#blokas2 {
    padding-left: 30px;
    padding-top: 40px;
    border-left: 2px solid orange;
    box-shadow: 20px 20px 15px black;
}
#blokas3 {
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 60px;
    border-top: 4px dashed blue;
    border-right: 4px dotted red;
    border-bottom: 4px double yellow;
    border-left: 4px groove green;
    border-radius: 50px;
    box-shadow: 0 0 20px black;
}
#blokas4 {
    padding: 20px 40px;
    border-color: burlywood;
    border-width: 5px;
    border-style: solid;
    border-bottom-left-radius: 30px;
    box-shadow: 5px 5px 50px rgba(0,0,0,50);
}
#blokas5 {
    padding: 20px 40px 30px 0;
    border-radius:  20px 40px;
    box-shadow: 20px 20px 20px black;
}
#blokas1:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}