.red {
    background-color: black;
    color: red;
}
#pirmas {
    background-color: beige;
}
h1 {
    color: white;
    background-color: rgb(115, 153, 115);
}
#antras {
    background-color: rgb(76, 0, 255);
    color: white;
}