body {
    background: rgb(182, 180, 178);
}
h1 {
    background-color: black;
    color: white;
}
h2 {
    background-color: rgb(84, 84, 214);
    color: white;
}
#blokas {
    background-color: white;
}