.projektai {
    background-color: lightblue;
    display: flex;
    gap: 20px;
    padding: 20px;
}

.projektai .projektas {
    width: 50%;
    padding: 10px;
    background: lightskyblue;
}

.darbuotojai {
    background-color: aquamarine;
    display: flex;
    gap: 20px;
    padding: 20px;
}

.darbuotojai .darbuotojas {
    width: 50%;
    padding: 10px;
    background:  rgb(101, 168, 146);
}

.uzduotys {
    background-color: blueviolet;
    display: flex;
    gap: 20px;
    padding: 20px;
}
.uzduotys .uzduotis {
    width: 50%;
    padding: 10px;
    background: rgb(110, 78, 139);
}